@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="userID" name="" value="${item.userID}" underline="true"/>
                            <#input id="title" name="" value="${item.title}" underline="true"/>
                            <#input id="content" name="" value="${item.content}" />
                </div>

                <div class="col-sm-6">
                            <#input id="cTime" name="" value="${item.cTime}" underline="true"/>
                            <#input id="toUser" name="" value="${item.toUser}" underline="true"/>
                            <#input id="type" name="0 :通知 1 网站通知 2email" value="${item.type}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PayNotifyInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PayNotifyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/payNotify/payNotify_info.js"></script>
@}
