<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.PayNotifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.PayNotify">
        <id column="id" property="id" />
        <result column="userID" property="userID" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="cTime" property="cTime" />
        <result column="toUser" property="toUser" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userID, title, content, cTime, toUser, type
    </sql>

</mapper>
